################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LearnASP/.vs/LearnASP/v16
/LearnASP/LearnASP/obj
/LearnASP/LearnASP/wwwroot/lib
/LearnASP/LearnASP/bin/Debug/netcoreapp3.1
